In [1]:
import postgresemear as sql
import pandas as pd
import dwsemear

In [2]:
funcionarios = pd.read_csv('funcionarios_semear_cobrancas.csv', sep=';', encoding='latin-1',dtype=str)

In [3]:
# Olhe as colunas
print(dwsemear.pegue_colunas('responsavel'))

['empresa', 'funcao', 'id', 'nome']

# As colunas precisam estar em harmonia com os metadados

In [4]:
registros = []
for i in funcionarios.index:
    registros.append((
        dwsemear.para_str(funcionarios.loc[i,'Empresa']),
        dwsemear.para_str(funcionarios.loc[i,'FuncaoDoResponsavel']),
        dwsemear.para_int(funcionarios.loc[i,'IDResponsavel']),
        dwsemear.para_str(funcionarios.loc[i,'Nome'])))

In [20]:
registros[0]

('Semear', 'Semear', 1, 'Aline Alves Luiz')

# Carga na tabela

In [5]:
dwsemear.delete_tabela('responsavel')

In [11]:
dwsemear.crie_tabela('responsavel')

In [12]:
dwsemear.insira_tabela('responsavel', registros)

In [13]:
dwsemear.pegue_tabela('responsavel')

,empresa,funcao,id,nome
0,Semear,Semear,1,Aline Alves Luiz
1,Semear,Semear,2,Ana Paula Azevedo
2,Mar Azul,SAC,3,Anna Paula Pereira Gomes
3,Mar Azul,SAC,4,Bruno Aparecido Silva de Jesus
4,Mar Azul,SAC,5,Bruno Felipe Alves de Lima
5,Mar Azul,SAC,6,Bruno Naves de Oliveira
6,Mar Azul,SAC,7,Daniele Cristiane de Freitas Duarte
7,Semear,Semear,8,Gabriel Torres de Carvalho Timochenco
8,Mar Azul,SAC,9,Giovanna Mariana da Silva Santos
9,Semear,Semear,10,Ingrid Pereira de Oliveira Silva
10,Mar Azul,SAC,11,Leonardo Pereira Vida
11,Semear,Semear,12,Leonilton Sarmento Batista
12,Mar Azul,SAC,13,Lourrane Carolina de Jesus Segala
13,Mar Azul,SAC,14,Madson Gabriel Rocha Silva
14,Mar Azul,SAC,15,Maria Fernanda Silva Pereira
15,Mar Azul,SAC,16,Monaliza Nayanda Oliveira Rosa
16,Semear,Semear,17,MÃ´nia Alves de Souza
17,Mar Azul,SAC,18,Mylena Soares dos Reis
18,Semear,Semear,19,Pollyane NastÃ¡cia Pereira de Jesus
19,Mar Azul,SAC,20,Raiane Lorena Soares Oliveira
20,Mar Azul,SAC,21,Richard Nunes de Sousa
21,Mar Azul,SAC,22,Silvana Cristina Freitas da Cunha
22,Semear,Semear,23,Thailini Gomeri Barbosa
23,Mar Azul,SAC,24,Trissia Gabrielle Fernandes Pereira Geronimo
24,Mar Azul,AssessoriaDeCobranca,25,Mar Azul
25,Cobrarr,AssessoriaDeCobranca,26,Cobrarr