In [3]:
import postgresemear as sql
import pandas as pd
import dwsemear

dwsemear.atualize_metadados()

def transformacoes_pdd(dados):
    dados = dwsemear.limpa_nome_das_colunas(dados)

    dados['Data'] = pd.to_datetime(dados['Data'], format='%Y-%m-%d %H:%M:%S')
    dados['DatInicio'] = pd.to_datetime(dados['DatInicio'], format='%Y-%m-%d %H:%M:%S')
    dados['DatProxParcela'] = pd.to_datetime(dados['DatProxParcela'], format='%Y-%m-%d %H:%M:%S')
    dados['DatVencimento'] = pd.to_datetime(dados['DatVencimento'], format='%Y-%m-%d %H:%M:%S')
    dados['DatRenegociacao'] = pd.to_datetime(dados['DatRenegociacao'], format='%Y-%m-%d %H:%M:%S')

    dados.loc[:,'CpfCgc'] = dados.loc[:,'CpfCgc'].apply(dwsemear.cpf_para_inteiro)
    dados.loc[:,'CodProduto'] = dados.loc[:,'CodProduto'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'Contrato'] = dados.loc[:,'Contrato'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'DiasAtraso'] = dados.loc[:,'DiasAtraso'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'QtdParAberta'] = dados.loc[:,'QtdParAberta'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'VlrSaldo'] = dados.loc[:,'VlrSaldo'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'VlrPDD'] = dados.loc[:,'VlrPDD'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'VlrOperacao'] = dados.loc[:,'VlrOperacao'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'VlrRenda'] = dados.loc[:,'VlrRenda'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'VlrProxParcela'] = dados.loc[:,'VlrProxParcela'].apply(dwsemear.converte_latin_para_float)
    # RatFim = str
    
    # Not null
    dados = dados.dropna(subset=['Data', 'CpfCgc', 'Contrato'])
    return dados

def transformacoes_pdd_csv(dados):
    dados = dwsemear.limpa_nome_das_colunas(dados)

    dados['Data'] = pd.to_datetime(dados['Data'], format='%m/%d/%Y')
    dados['DatInicio'] = pd.to_datetime(dados['DatInicio'], format='%m/%d/%Y')
    dados['DatProxParcela'] = pd.to_datetime(dados['DatProxParcela'], format='%m/%d/%Y')
    dados['DatVencimento'] = pd.to_datetime(dados['DatVencimento'], format='%m/%d/%Y')
    dados['DatRenegociacao'] = pd.to_datetime(dados['DatRenegociacao'], format='%m/%d/%Y')

    dados.loc[:,'CpfCgc'] = dados.loc[:,'CpfCgc'].apply(dwsemear.cpf_para_inteiro)
    dados.loc[:,'CodProduto'] = dados.loc[:,'CodProduto'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'Contrato'] = dados.loc[:,'Contrato'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'DiasAtraso'] = dados.loc[:,'DiasAtraso'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'QtdParAberta'] = dados.loc[:,'QtdParAberta'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'VlrSaldo'] = dados.loc[:,'VlrSaldo'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'VlrPDD'] = dados.loc[:,'VlrPDD'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'VlrOperacao'] = dados.loc[:,'VlrOperacao'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'VlrRenda'] = dados.loc[:,'VlrRenda'].apply(dwsemear.converte_latin_para_float)
    dados.loc[:,'VlrProxParcela'] = dados.loc[:,'VlrProxParcela'].apply(dwsemear.converte_latin_para_float)
    # RatFim = str
    
    # Not null
    dados = dados.dropna(subset=['Data', 'CpfCgc', 'Contrato'])
    return dados

In [4]:
colunas = dwsemear.pegue_colunas('pdd')
print(colunas)

['codigo_contrato', 'codigo_produto', 'cpf', 'data_originacao', 'data_proxima_parcela', 'data_referencia', 'data_renegociacao', 'data_vencimento', 'dias_atraso', 'id', 'quantidade_parcelas_abertas', 'rating_contabil_fim', 'renda_cliente', 'valor_financiado', 'valor_pdd', 'valor_proxima_parcela', 'valor_saldo']

# Extracao

In [97]:
#dados = pd.read_csv('3040_1807.csv', sep=';', encoding='latin-1', dtype=str)
#dados = pd.read_csv('3040_1808.csv', sep=';', encoding='latin-1', dtype=str)
#dados = pd.read_csv('3040_1809.csv', sep=';', encoding='latin-1', dtype=str)
#dados = pd.read_csv('3040_1810.csv', sep=';', encoding='latin-1', dtype=str)
#dados = pd.read_csv('3040_1811.csv', sep=';', encoding='latin-1', dtype=str)
#dados = pd.read_csv('3040_1812.csv', sep=';', encoding='latin-1', dtype=str)
#dados = pd.read_excel('3040_01_2019.xlsx', encoding='latin-1', dtype=str)
#dados = pd.read_excel('3040_02_2019.xlsx', encoding='latin-1', dtype=str)
#dados = pd.read_excel('3040_03_2019.xlsx', encoding='latin-1', dtype=str)
#dados = pd.read_excel('3040_04_2019.xlsx', encoding='latin-1', dtype=str)
#dados = pd.read_excel('3040_05_2019.xlsx', encoding='latin-1', dtype=str)
dados = pd.read_excel('3040_06_2019.xlsx', encoding='latin-1', dtype=str)

# Transformacao

In [98]:
#dados = transformacoes_pdd_csv(dados)
dados = transformacoes_pdd(dados)

# Carga

In [99]:
id_pdd = sql.query_max_coluna('id', 'pdd')
if id_pdd == None:
    id_pdd = -1

registros = []
for i in dados.index:
    id_pdd += 1
    registros.append((
        dwsemear.para_int(dados.loc[i,'Contrato']),
        dwsemear.para_int(dados.loc[i,'CodProduto']),
        dwsemear.para_int(dados.loc[i,'CpfCgc']),
        dwsemear.para_data(dados.loc[i,'DatInicio']),
        dwsemear.para_data(dados.loc[i,'DatProxParcela']),
        dwsemear.para_data(dados.loc[i,'Data']),
        dwsemear.para_data(dados.loc[i,'DatRenegociacao']),
        dwsemear.para_data(dados.loc[i,'DatVencimento']),
        dwsemear.para_int(dados.loc[i,'DiasAtraso']),
        id_pdd,
        dwsemear.para_int(dados.loc[i,'QtdParAberta']),
        dwsemear.para_str(dados.loc[i,'RatFim']),
        dwsemear.para_float(dados.loc[i,'VlrRenda']),
        dwsemear.para_float(dados.loc[i,'VlrOperacao']),
        dwsemear.para_float(dados.loc[i,'VlrPDD']),
        dwsemear.para_float(dados.loc[i,'VlrProxParcela']),
        dwsemear.para_float(dados.loc[i,'VlrSaldo'])))

# LOAD
dwsemear.insira_tabela('pdd', registros)

In [5]:
# Teste simples
import datetime
parametros = (datetime.datetime(2018,1,1), 
              datetime.datetime(2018,2,1), 
              datetime.datetime(2019,6,30))
dados_pdd = sql.query_para_pandas('''SELECT *
                      FROM pdd
                      WHERE data_originacao BETWEEN %s AND %s
                      AND data_referencia = %s
                      ''',parametros)
dados_pdd.columns = colunas

In [6]:
dados_pdd.head(3)

,codigo_contrato,codigo_produto,cpf,data_originacao,data_proxima_parcela,data_referencia,data_renegociacao,data_vencimento,dias_atraso,id,quantidade_parcelas_abertas,rating_contabil_fim,renda_cliente,valor_financiado,valor_pdd,valor_proxima_parcela,valor_saldo
0,53876496,3101,6301341970,2018-01-11,2019-07-11,2019-06-30,NaT,2019-07-11,80,4425632,4,D,1850.0,306601.0,11137.0,2835.0,111372.0
1,53910108,3100,32068301687,2018-01-25,NaT,2019-06-30,NaT,2019-06-04,26,4422950,1,B,1490.0,168322.0,165.0,165.0,165.0
2,53913350,3101,73415944972,2018-01-27,2019-07-10,2019-06-30,NaT,2019-08-10,0,4423008,2,A,135686.0,74009.0,67.0,7041.0,13399.0

# Resete tabela

In [29]:
#dwsemear.delete_tabela('pdd')
#dwsemear.crie_tabela('pdd')