In [1]:
# depois tem que fazer logging, documentation e etc.

In [2]:
import pandas as pd
import dwsemear
import datetime
import collections
import numpy as np

import postgresemear as sql  # mover os arquivos para a pasta principal

def calcula_idade(dados, coluna):
    idade = []
    for i in dados.index:
        if dwsemear.e_nulo(dados.loc[i,coluna]):
            idade.append(None)
        else:
            anos = (dados.loc[i,'datahora'] - dados.loc[i,coluna]).days
            anos = int(round(anos/365))
            idade.append(anos)
    dados['idade'] = idade
    return dados

def remove_localize(data):
    return data.tz_localize(None)

def coluna_para_lista(coluna):
    nova_coluna = []
    for elem in coluna:
        if dwsemear.e_nulo(elem):
            nova_coluna.append(None)
        else:
            nova_coluna.append(elem)
    return nova_coluna

def para_int(elemento):
    if dwsemear.e_nulo(elemento):
        return None
    else:
        return int(elemento)

def para_float(elemento):
    if dwsemear.e_nulo(elemento):
        return None
    else:
        return float(elemento)

def para_str(elemento):
    if dwsemear.e_nulo(elemento):
        return None
    else:
        return str(elemento)
    
def para_data(elemento):
    if dwsemear.e_nulo(elemento):
        return None
    else:
        return elemento
    
def pegue_elementos_com_repeticao(coluna):
    contagem = collections.Counter(coluna)
    return list(getItemsUpToCount(contagem,1).keys())

def getItemsUpToCount(dct, n):
    upToCount = {}
    for key in dct:
        if dct[key] > n:
            upToCount[key] = dct[key]
    return upToCount

# EXTRACT

In [3]:
producao = pd.read_csv('BaseClientes-FEV2019.csv',sep=';', encoding='latin-1',dtype=str)

In [4]:
producao = producao[producao.con_sta != 'C']
producao = producao.reset_index(drop=True)

# TRANSFORM

In [5]:
producao = dwsemear.limpa_nome_das_colunas(producao)
producao.loc[:,'Con Contrato'] = producao.loc[:,'Con Contrato'].astype(int)
producao.loc[:,'DiasEmAtraso'] = producao.loc[:,'DiasEmAtraso'].astype(int)
producao.loc[:,'Pedido Jretail'] = producao.loc[:,'Pedido Jretail'].astype(int)

# LOAD

In [6]:
id_producao = 0
producao_registros = []
for i in producao.index:
    id_producao += 1
#    if id_producao > 10:
#        break

    producao_registros.append((para_int(producao.loc[i,'Con Contrato']),
                               para_int(producao.loc[i,'Pedido Jretail']),
                               para_int(producao.loc[i,'DiasEmAtraso'])))
                               
        
#    print('LINHA: ',
#          para_int(producao.loc[i,'Con Contrato']),
#          para_int(producao.loc[i,'Pedido Jretail']),  # esse cara poderia ser not null
#          para_int(producao.loc[i,'DiasEmAtraso']))

In [14]:
delete_tabela = '''DROP TABLE producao'''
sql.execute_query(delete_tabela)

In [15]:
# O ID e o Codigo do contrato. Nesta tabela ele tem que ser unico.
crie_tabela = '''CREATE TABLE producao
            (ID BIGINT PRIMARY KEY NOT NULL,
            codigo_proposta_crivo BIGINT NOT NULL,
            dias_atraso INT);'''
sql.execute_query(crie_tabela)

In [16]:
query = """ INSERT INTO producao
            (ID,
            codigo_proposta_crivo,
            dias_atraso) 
            VALUES (%s,%s,%s)"""
sql.adicione_multiplos_registros(query, producao_registros)

In [18]:
# Testando
parametros = [51930477,51930479]
dados_producao = sql.query_para_pandas('''SELECT *
                      FROM producao
                      WHERE ID BETWEEN %s AND %s
                      ''',parametros)

In [19]:
dados_producao.head(3)

          0        1     2
0  51930477  3424687     0
1  51930479  3424690     0
2  51930478  3424686  1046

# Entrega

In [20]:
dados_abt = sql.query_para_pandas('''SELECT *
                      FROM crivo, producao
                      WHERE crivo.ultimo_pedido = 1
                          AND crivo.codigo_proposta = producao.codigo_proposta_crivo
                      ''')