In [35]:
# https://www.w3resource.com/sql-exercises/
# Ficou mais exercicios la

import psycopg2
from psycopg2 import Error
import datetime
def mysql_connection():
    return psycopg2.connect(user = "postgres",
                                  password = "Bolota",
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "guru89")

def close_connection(connection, cursor):
    if(connection):
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")    
 
# CRIACAO DO OBJETO DATETIME COM UM STRING: 
# datetime.datetime.strptime('2012-10-05', '%Y-%m-%d')

In [2]:
#CRIACAO DA TABELA SALESMAN
try:
    connection = mysql_connection()
    cursor = connection.cursor()
    create_table_query = '''CREATE TABLE Salesman   
            (ID INT PRIMARY KEY NOT NULL,
            name TEXT NOT NULL,
            city TEXT,
            comission REAL);'''
    cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully in PostgreSQL ")
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error while creating PostgreSQL table", error)
finally:
    close_connection(connection, cursor)

Table created successfully in PostgreSQL
PostgreSQL connection is closed

In [3]:
# ADICAO DOS DADOS NA TABELA
records = [
     (5001, 'James Hoog', 'New York', 0.15), # NULL e o None do python. O nan do numpy nao funciona.
     (5002, 'Nail Knite', 'Paris', 0.13),
     (5005, 'Pit Alex', 'London', 0.11),
     (5006, 'Mc Lyon', 'Paris', 0.14),
     (5007, 'Paul Adam', 'Rome', 0.13),
     (5003, 'Lauson Hen', 'San Jose', 0.12),
     (5012, 'Fred vultor', 'Teofilo otoni', 0.32)]

try:
    connection = mysql_connection()
    cursor = connection.cursor()
    sql_insert_query = """ INSERT INTO Salesman (ID, name, city, comission) 
                               VALUES (%s,%s,%s,%s)"""
    result = cursor.executemany(sql_insert_query, records)
    connection.commit()
    print(cursor.rowcount, "Record inserted successfully into mobile table")
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error:  ", error)
finally:
    close_connection(connection, cursor)

7 Record inserted successfully into mobile table
PostgreSQL connection is closed

In [26]:
# QUERY 1 - pegar todos os valores

try:
    connection = mysql_connection()
    cursor = connection.cursor()
    sql_query = """SELECT * FROM Salesman"""
    result = cursor.execute(sql_query)
    connection.commit()
    print('EXECUCAO COM SUCESSO')
    all_table = []
    for record in cursor: # retorno dos records
        all_table.append(record)
        print(record)
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error:  ", error)
finally:
    close_connection(connection, cursor)

EXECUCAO COM SUCESSO
(5001, 'James Hoog', 'New York', 0.15)
(5002, 'Nail Knite', 'Paris', 0.13)
(5005, 'Pit Alex', 'London', 0.11)
(5006, 'Mc Lyon', 'Paris', 0.14)
(5007, 'Paul Adam', 'Rome', 0.13)
(5003, 'Lauson Hen', 'San Jose', 0.12)
(5012, 'Fred vultor', 'Teofilo otoni', 0.32)
PostgreSQL connection is closed

In [28]:
# QUERY 2 - Cortar colunas
try:
    connection = mysql_connection()
    cursor = connection.cursor()
    sql_query = """SELECT name, comission FROM Salesman"""
    result = cursor.execute(sql_query)
    connection.commit()
    print('EXECUCAO COM SUCESSO')
    all_table = []
    for record in cursor: # retorno dos records
        all_table.append(record)
        print(record)
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error:  ", error)
finally:
    close_connection(connection, cursor)

EXECUCAO COM SUCESSO
('James Hoog', 0.15)
('Nail Knite', 0.13)
('Pit Alex', 0.11)
('Mc Lyon', 0.14)
('Paul Adam', 0.13)
('Lauson Hen', 0.12)
('Fred vultor', 0.32)
PostgreSQL connection is closed

In [ ]:
# QUERY 2 - Cortar colunas
try:
    connection = mysql_connection()
    cursor = connection.cursor()
    sql_query = """SELECT name, comission FROM Salesman"""
    result = cursor.execute(sql_query)
    connection.commit()
    print('EXECUCAO COM SUCESSO')
    all_table = []
    for record in cursor: # retorno dos records
        all_table.append(record)
        print(record)
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error:  ", error)
finally:
    close_connection(connection, cursor)

In [30]:
# QUERY 3 - Por id
try:
    connection = mysql_connection()
    cursor = connection.cursor()
    sql_query = """SELECT * FROM Salesman WHERE ID=%s"""
    result = cursor.execute(sql_query, (5001,)) # Quando tem um valor so tem que por essa virgula
    connection.commit()
    print('EXECUCAO COM SUCESSO')
    all_table = []
    for record in cursor: # retorno dos records
        all_table.append(record)
        print(record)
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error:  ", error)
finally:
    close_connection(connection, cursor)

EXECUCAO COM SUCESSO
(5001, 'James Hoog', 'New York', 0.15)
PostgreSQL connection is closed

In [61]:
# DELETANDO DATABELA
try:
    connection = mysql_connection()
    cursor = connection.cursor()
    create_table_query = '''DROP TABLE orders;'''
    cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully in PostgreSQL ")
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error while creating PostgreSQL table", error)
finally:
    close_connection(connection, cursor)

Table created successfully in PostgreSQL
PostgreSQL connection is closed

In [62]:
# CRIACAO DA TABELA 
#CRIACAO DA TABELA orders
try:
    connection = mysql_connection()
    cursor = connection.cursor()
    create_table_query = '''CREATE TABLE orders  
            (ord_no INT PRIMARY KEY NOT NULL,
            purch_amt REAL NOT NULL,
            ord_date timestamp with time zone NOT NULL,
            customer_id INT NOT NULL,
            salesman_id INT NOT NULL,
            ord_city TEXT NOT NULL
            );'''
    cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully in PostgreSQL ")
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error while creating PostgreSQL table", error)
finally:
    close_connection(connection, cursor)

Table created successfully in PostgreSQL
PostgreSQL connection is closed

In [64]:
def toDatetime(string_time):
    return datetime.datetime.strptime(string_time, '%Y-%m-%d') 
records = [
(70001,       150.5 ,      toDatetime('2012-10-05'),  3005,         5002, 'New York'),
(70009,       270.65,      toDatetime('2012-09-10'),  3001,         5005, 'London'),
(70002,       65.26 ,      toDatetime('2012-10-05'),  3002,         5001, 'New York'),
(70004,       110.5 ,      toDatetime('2012-08-17'),  3009,         5003, 'London'),
(70007,       948.5 ,      toDatetime('2012-09-10'),  3005,         5002, 'Alabama'),
(70005,       2400.6,      toDatetime('2012-07-27'),  3007,         5001, 'Alabama'),
(70008,       5760  ,      toDatetime('2012-09-10'),  3002,         5001, 'London'),
(70010,       1983.43,     toDatetime('2012-10-10'),  3004,         5006, 'London'),
(70003,       2480.4,      toDatetime('2012-10-10'),  3009,         5003, 'London'),
(70012,       250.45,      toDatetime('2012-06-27'),  3008,         5002, 'New York'),
(70011,       75.29 ,      toDatetime('2012-08-17'),  3003,         5007, 'New York'),
(70013,       3045.6,      toDatetime('2012-04-25'),  3002,         5001, 'Alabama')]

try:
    connection = mysql_connection()
    cursor = connection.cursor()
    sql_insert_query = """ INSERT INTO orders (ord_no, purch_amt, ord_date, customer_id, salesman_id, ord_city) 
                               VALUES (%s,%s,%s,%s,%s,%s)"""
    result = cursor.executemany(sql_insert_query, records)
    connection.commit()
    print(cursor.rowcount, "Record inserted successfully into mobile table")
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error:  ", error)
finally:
    close_connection(connection, cursor)

12 Record inserted successfully into mobile table
PostgreSQL connection is closed

In [65]:
# QUERY 1 - pegar todos os valores

try:
    connection = mysql_connection()
    cursor = connection.cursor()
    sql_query = """SELECT * FROM orders"""
    result = cursor.execute(sql_query)
    connection.commit()
    print('EXECUCAO COM SUCESSO')
    all_table = []
    for record in cursor: # retorno dos records
        all_table.append(record)
        print(record)
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error:  ", error)
finally:
    close_connection(connection, cursor)

EXECUCAO COM SUCESSO
(70001, 150.5, datetime.datetime(2012, 10, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3005, 5002, 'New York')
(70009, 270.65, datetime.datetime(2012, 9, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3001, 5005, 'London')
(70002, 65.26, datetime.datetime(2012, 10, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3002, 5001, 'New York')
(70004, 110.5, datetime.datetime(2012, 8, 17, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3009, 5003, 'London')
(70007, 948.5, datetime.datetime(2012, 9, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3005, 5002, 'Alabama')
(70005, 2400.6, datetime.datetime(2012, 7, 27, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3007, 5001, 'Alabama')
(70008, 5760.0, datetime.datetime(2012, 9, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3002, 5001, 'London')
(70010, 1983.43, datetime.datetime(2012, 10, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3004, 5006, 'London')
(70003, 2480.4, datetime.datetime(2012, 10, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3009, 5003, 'London')
(70012, 250.45, datetime.datetime(2012, 6, 27, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3008, 5002, 'New York')
(70011, 75.29, datetime.datetime(2012, 8, 17, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3003, 5007, 'New York')
(70013, 3045.6, datetime.datetime(2012, 4, 25, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3002, 5001, 'Alabama')
PostgreSQL connection is closed

In [66]:
# QUERY DE INTERVALOS

try:
    connection = mysql_connection()
    cursor = connection.cursor()
    sql_query = """SELECT * FROM orders
                   WHERE ord_no BETWEEN 70001 AND 70004"""
    result = cursor.execute(sql_query)
    connection.commit()
    print('EXECUCAO COM SUCESSO')
    all_table = []
    for record in cursor: # retorno dos records
        all_table.append(record)
        print(record)
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error:  ", error)
finally:
    close_connection(connection, cursor)

EXECUCAO COM SUCESSO
(70001, 150.5, datetime.datetime(2012, 10, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3005, 5002, 'New York')
(70002, 65.26, datetime.datetime(2012, 10, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3002, 5001, 'New York')
(70004, 110.5, datetime.datetime(2012, 8, 17, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3009, 5003, 'London')
(70003, 2480.4, datetime.datetime(2012, 10, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3009, 5003, 'London')
PostgreSQL connection is closed

In [67]:
# QUERY DE INTERVALOS
try:
    connection = mysql_connection()
    cursor = connection.cursor()
    sql_query = """SELECT * FROM orders
                   WHERE ord_date BETWEEN %s AND %s
                   AND ord_no > 70001"""
    result = cursor.execute(sql_query, (toDatetime('2012-10-5'), toDatetime('2012-10-10'),))
    connection.commit()
    print('EXECUCAO COM SUCESSO')
    all_table = []
    for record in cursor: # retorno dos records
        all_table.append(record)
        print(record)
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error:  ", error)
finally:
    close_connection(connection, cursor)

EXECUCAO COM SUCESSO
(70002, 65.26, datetime.datetime(2012, 10, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3002, 5001, 'New York')
(70010, 1983.43, datetime.datetime(2012, 10, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3004, 5006, 'London')
(70003, 2480.4, datetime.datetime(2012, 10, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)), 3009, 5003, 'London')
PostgreSQL connection is closed

In [68]:
# QUERY CONDICIONAIS - MAIS EXEMPLOS
try:
    connection = mysql_connection()
    cursor = connection.cursor()
    sql_query = """SELECT * FROM Salesman
                    WHERE city = %s
                    OR NOT city = %s"""
    result = cursor.execute(sql_query, ('New York', 'Paris'))
    connection.commit()
    print('EXECUCAO COM SUCESSO')
    all_table = []
    for record in cursor: # retorno dos records
        all_table.append(record)
        print(record)
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error:  ", error)
finally:
    close_connection(connection, cursor)

EXECUCAO COM SUCESSO
(5001, 'James Hoog', 'New York', 0.15)
(5005, 'Pit Alex', 'London', 0.11)
(5007, 'Paul Adam', 'Rome', 0.13)
(5003, 'Lauson Hen', 'San Jose', 0.12)
(5012, 'Fred vultor', 'Teofilo otoni', 0.32)
PostgreSQL connection is closed

In [73]:
# QUERY - combinacao de tabelas NXN
# ESSE QUE SERIA O JOIN, E SO SABER USAR
try:
    connection = mysql_connection()
    cursor = connection.cursor()
    sql_query = """SELECT Salesman.ID, Salesman.name, Salesman.city, orders.ord_city, orders.ord_no
                    FROM Salesman, orders
                    WHERE Salesman.city = orders.ord_city"""
    result = cursor.execute(sql_query, ('New York', 'Paris'))
    connection.commit()
    print('EXECUCAO COM SUCESSO')
    all_table = []
    for record in cursor: # retorno dos records
        all_table.append(record)
        print(record)
except (Exception, psycopg2.DatabaseError) as error :
    print ("Error:  ", error)
finally:
    close_connection(connection, cursor)

EXECUCAO COM SUCESSO
(5001, 'James Hoog', 'New York', 'New York', 70001)
(5005, 'Pit Alex', 'London', 'London', 70009)
(5001, 'James Hoog', 'New York', 'New York', 70002)
(5005, 'Pit Alex', 'London', 'London', 70004)
(5005, 'Pit Alex', 'London', 'London', 70008)
(5005, 'Pit Alex', 'London', 'London', 70010)
(5005, 'Pit Alex', 'London', 'London', 70003)
(5001, 'James Hoog', 'New York', 'New York', 70012)
(5001, 'James Hoog', 'New York', 'New York', 70011)
PostgreSQL connection is closed