In [2]:
import pandas as pd
import dwsemear
import datetime

import postgresemear as sql # mover os arquivos para a pasta principal

In [5]:
COLUNAS_PDD = ['ID',
            'DataDeReferencia',
            'DataDeOriginiacao',
            'DataDaProximaParcela',
            'DataDeVencimento',
            'DataDeRenegociacao',
            'CPF',
            'CodigoDoProduto',
            'CodigoDoContrato',
            'DiasEmAtraso',
            'QuantidadeDeParcelasAbertas',
            'ValorSaldo',
            'ValorPDD',
            'ValorOperacao',
            'RendaDoCliente',
            'ValorDaProximaParcela',
            'RatingContabilFim']

In [40]:
parametros = (datetime.datetime(2019,5,31),)
dados_pdd = sql.query_para_pandas('''SELECT *
                      FROM pdd
                      WHERE DataDeOriginiacao = %s
                      ''',parametros)
dados_pdd.columns = COLUNAS_PDD

In [41]:
dados_pdd.head(3)

,ID,DataDeReferencia,DataDeOriginiacao,DataDaProximaParcela,DataDeVencimento,DataDeRenegociacao,CPF,CodigoDoProduto,CodigoDoContrato,DiasEmAtraso,QuantidadeDeParcelasAbertas,ValorSaldo,ValorPDD,ValorOperacao,RendaDoCliente,ValorDaProximaParcela,RatingContabilFim
0,1682141,2019-05-31 00:00:00-03:00,2019-05-31 00:00:00-03:00,2019-07-10 00:00:00-03:00,2020-09-10 00:00:00-03:00,None,182180670,3086,55148502,0,15,5143.75,25.72,5143.75,5000.0,775.92,A
1,1681974,2019-05-31 00:00:00-03:00,2019-05-31 00:00:00-03:00,2019-07-01 00:00:00-03:00,2020-09-01 00:00:00-03:00,None,169925129,3086,55148792,0,15,1028.29,5.14,1028.29,1800.0,150.01,A
2,1689271,2019-05-31 00:00:00-03:00,2019-05-31 00:00:00-03:00,2019-07-15 00:00:00-03:00,2020-04-15 00:00:00-03:00,None,606827609,3086,55148747,0,10,1532.73,7.66,1532.73,3450.0,284.61,A

In [ ]:
dados_pdd[dados_pdd.CPF == 12124500600]